<div style="width: 100%; text-align: center; margin: 15px;">
  <div>
    <img style="border-radius: 50%; border: 1px solid gray;" width="35px" height="35px"
         src="../../../../assets/image/ruta.png">
  </div>
  <div>
    <p><span class="negrilla"> Tu ruta: </span> {{globals.ruta}}</p>
  </div>
  <div class="centrar-recuadro">
    <div class="separar">
      <h1>¿Qué puedes recordar más facil?</h1>
      <p style="font-size: 15px; color: #646464;">Selecciona una opción</p>
      <div style="display: flex; flex-wrap: wrap; padding-top: 25px; padding-bottom: 25px;">
        <div style="margin:0 auto;" *ngFor="let estres of tpEstres">
          <button (click)="cambioApariencia(estres.id)" class="btn-tab" [id]="estres.id" type="button">
            <div *ngIf="activate==estres.id" class="content-check">
              <div class="border-cir">
                <div class="cir-check">
                  <img class="check" src="../../../../assets/image/Raster.png">
                </div>
              </div>
            </div>
            <div class="content-elemts" [id]="estres.numerico">
              <div class="rounded-circle">
                <img class="logos" [src]="img+estres.id+'.png'">
              </div>
              <div style="width: 100%;">
                <p class="text-button">{{estres.descripcion}}</p>
              </div>
            </div>
          </button>
        </div>
      </div>
      <div style="margin-top: 40px; margin-bottom: 40px;">
        <button class="btn btn-black" (click)="next()">
          continuar
        </button>
      </div>
    </div>
  </div>
</div>
<app-progreso-reconocimiento [progress]="8" (next)="next()"></app-progreso-reconocimiento>
