<div id="add" class="container-fluid p-2 TmSalarios-edit">
  <div class="row mt-4 d-flex justify-content-center">
    <div class="col-md-12 title">
      <div class="text">
        <p>{{titulo}}</p>
      </div>
    </div>
    <div class="col-md-12 mt-2 form-container">
      <form class="form row" [formGroup]="form">
        <div class="col-md-6" *ngFor="let a of parametros">
            <mat-form-field class="text-input" appearance="outline">
              <mat-label>{{a.nombre}}</mat-label>

              <input id="generar" matInput  [formControlName]="a.nombre+a.id" [appOnly]='tipoDato' 
              [type]='tipoInput' *ngIf="a.tpParametro!=20">

              <mat-select [formControlName]="a.nombre+a.id" *ngIf="a.tpParametro==20">
                <mat-option *ngFor="let grup of reporteOp" [value]="grup.valor">
                  {{grup.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="error">
              <div *ngIf="form.get(''+a.nombre+a.id).hasError('required') && submitted">
                <p>Este Campo es Obligatorio</p>
              </div>
            </div>
          </div>   
      </form>
    </div>

    <div class="col-md-12 button-container">
      <div class="d-flex w-100">
        <button  mat-raised-button color="primary" [title]="texto_ayuda" (click)="Reporte()">
            <mat-icon fontSet="far"  class="mt-2"></mat-icon>
            <span>Generar Reporte</span>
        </button>
      </div>
    </div>

  </div>
</div>