.negrilla{
    font-weight: bold;
}

.centrar-recuadro{
    margin-top: 15px;
    text-align: center;
    width: 100%;
    border-radius: 25px;
    border: 1px solid #C5CCD4;
    -webkit-box-shadow: -6px 5px 5px -1px rgba(0,0,0,0.19);
-moz-box-shadow: -6px 5px 5px -1px rgba(0,0,0,0.19);
box-shadow: -6px 5px 5px -1px rgba(0,0,0,0.19);
}

.separar{
    margin-top: 25px;
}

.btn-black {
    background-color: #1bc88c !important;
    border-radius: 100px;
    width: 150px;
    font-size: 18px !important;
    color: #fff;
}

h2{
    color: #1bc88c;
    font-size: 35px;
    max-width: 700px;
    margin: 0 auto 20px;
    line-height: 1.2;
}

.opcion{
    height:50%;
    margin-left: 5px;
}

.letra{
    font-size: 12px;
    color:#646464;
}

.causa{
    margin: 0px 0px 0px 14px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 22%;
}

@media screen and (max-width: 600px){
    .causa{
    width: 37%;
}
}


.content-op{
    width: 650px;
    border-radius: 25px;
    border: 1px solid #F5F5F5;
    background-color: #F5F5F5;
    padding-left: 10px;
    padding-right: 10px;
}

.tpcausa{
    width: 100%; 
    display: flex; 
    flex-wrap: wrap; 
    border-bottom: 1px solid #C5CCD4; 
    padding-bottom: 20px; 
    margin-bottom: 10px;
}

.elecciones{
    width: 320px;
    border: 1px solid #C5CCD4;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

.marca{
    border-radius: 50%;
    border: 1px solid #84C5C5;
    height: 40px;
    width: 40px;
}

.content-marca{
    width: 80%;
    border-bottom: 1px solid #C5CCD4;
    display: flex;  
    flex-wrap: wrap;
    margin-bottom: 8px;
}

.lista{
    border-radius: 25px;
    border: 1px dashed gray;
    width: 65%;
    height: 38px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.lista-sele{
    border-radius: 25px;
    border: 1px solid gray;
    width: 65%;
    height: 38px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    margin-bottom: 5px;
}
.circulo{
    border-radius: 50px;
    background-color: #84C5C5;
    border: 1px solid #84C5C5;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-circulo{
    position: relative;
    top: -38px;
    right: -92px;
}

h3{
    font-weight: bold;
    color: #24214A;
}

.sub{
    position: relative;
    left: -20px;
    margin-top: 20px;
    color: #45669C;
}

.posicion{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
}

.content-buttons{
    display: flex; 
    flex-wrap: wrap; 
    width:10%; 
    margin-left: 10px;
}

.x{
    background-color: #F5F5F5; 
    border: none; 
    width: 18px; 
    height: 18px;
}

.centrar-marca{
    margin-top: 5px;
}