<div class="sidenav">
    <div class="login-main-text">
      <img class="logo-sidenav" src="../../../../assets/image/isotipo_white-positive.png">
      <div style="padding-top: 12px;">
        <h1 style="font-weight: bold;"> Paso a paso,</h1>
        <h1 style="font-weight: lighter;"> encuéntrate </h1>
      </div>
    </div>
</div>
  <div class="main">
    <div class="col-md-5 col-sm-12" style="margin: 0px auto;">
      <div class="login-cab">
        <button class="atras" routerLink="/login">
          <img src="../../../../assets/image/atras.png" width="30px" height="30px" alt="">
        </button>
        <div style="width: 90%">
          <img class="logo-login" src="../../../../assets/image/logo-Zero-Stress-black.png">
        </div>
        <h2 class="text-logo">Indicanos el correo electronico con el cual te registrarte, 
          para poder recuperar tu contraseña
        </h2>
      </div>
        <div class="login-form">
            <form [formGroup]="form" (ngSubmit)="submit()">
                <label>Correo Electronico*</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="far fa-envelope"></i></span>
                    </div>
                    <input type="email" id="email" class="form-control" placeholder="micorreo@ejemplo.co"
                    formControlName="email">
                </div>
                <button style="margin-top: 15px;" type="submit" class="btn btn-black">Enviar</button>
            </form>
        </div>
    </div>
  </div>
  
