<div id="add" class="container-fluid p-2 TmSalarios-edit">
  <div class="row mt-4 d-flex justify-content-center">
    <div class="col-md-12 d-flex migajas" *ngIf="!add">
      <nav class="breadcrumb">
        <ol class="breadcrumb-ol">
          <li class="breadcrumb-item"><a [routerLink]="['/backoffice','roles']">Perfiles</a></li>
        </ol>
      </nav>
    </div>
    <div class="col-md-12 p-0 m-0 d-flex" *ngIf="!add">
      <mat-button-toggle-group class="tab-group ml-auto">
        <mat-button-toggle class="tab-active" [routerLink]="['./']">Perfil
        </mat-button-toggle>
        <mat-button-toggle *ngIf="!add"
                           [routerLink]="['/backoffice','roles','permisos','asoc',rol.id]">
          Asociar Opciones
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="col-md-12 title">
      <div *ngIf="add" class="text">
        <p>Agregar Perfiles</p>
      </div>
      <div *ngIf="view" class="text">
        <p>Ver Perfiles</p>
      </div>
      <div *ngIf="edit" class="text">
        <p>Editar Perfiles</p>
      </div>
      <div *ngIf="delete" class="text">
        <p>Eliminar Perfiles</p>
      </div>
    </div>
    <div class="col-md-12 mt-2 form-container">
      <form class="form row" [formGroup]="form">
        <div class="col-md-6">
          <mat-form-field class="text-input" appearance="outline">
            <mat-label>Descripción</mat-label>
            <input matInput formControlName="descripcion" appOnly="NumbersLetters">

          </mat-form-field>
          <div class="error">
            <div *ngIf="fc.descripcion.errors?.required && submitted">
              <p>Este Campo es Obligatorio</p>
            </div>
          </div>
        </div>


        <div class="col-md-12 button-container" *ngIf="edit || add || view || delete">
          <div class="d-flex w-100">
            <button mat-raised-button class="button-v" color="secondary">
              <mat-icon fontSet="fas" fontIcon="fa-long-arrow-alt-left" class="mt-2"
                        [routerLink]="['/backoffice','roles']"></mat-icon>
              <span>Regresar</span>
            </button>
            <button class="ml-auto" mat-raised-button color="primary" (click)="save()" *ngIf="add">
              <mat-icon fontSet="far" fontIcon="fa-save" class="mt-2"></mat-icon>
              <span>Insertar</span>
            </button>

            <button class="ml-auto" mat-raised-button color="accent" (click)="save()" *ngIf="edit">
              <mat-icon fontSet="far" fontIcon="fa-edit" class="mt-2"></mat-icon>
              <span>Editar</span>
            </button>

            <button class="ml-auto" mat-raised-button color="warn" (click)="save()" *ngIf="delete">
              <mat-icon fontSet="far" fontIcon="fa-trash-alt" class="mt-2"></mat-icon>
              <span>Eliminar</span>
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

