.content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #646464;
    font-size: 18px;
}

.se{
    margin-top: 25px;
}
