<div mat-dialog-title class="cabeza">
    <div class="tittle">
        <h2>Confirmación</h2>
    </div>
    <button (click)="onClickNO()" class="x">
        <span class="float-right"><i class="fas fa-times" style="color: #969FAA;"></i></span>
    </button>
</div>
<div mat-dialog-content>
    <div class="content">
        <img src="../../../../assets/image/dialogCofir.png" width="40px" height="40px" alt="" style="background-color: #5BBC6B">
    </div>
    <div class="content se">
        <p>Estamos Analisando tus respuestas, pronto empezarás tu ruta <br> hacia la tranquilidad.</p>
    </div>
</div>
